# Root-level
.env
.env.*

# Python - backend/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
.Python
venv/
env/
instance/
.mypy_cache/
.pytest_cache/
.dmypy.json
coverage.xml

# Virtual environments
.venv/
ENV/
env.bak/
*.egg-info/
dist/
build/

# FastAPI / Uvicorn logs
*.log

# Alembic
alembic.ini
migrations/versions/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code / IDEs
.vscode/
.idea/
*.swp

# Node - frontend/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/
*.tsbuildinfo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
**/__pycache__/
*.pid
docker-compose.override.yml

# React
frontend/.env
frontend/.DS_Store
frontend/node_modules/
frontend/dist/

# Docker volumes
volumes/
